---
import Section from "../Section.astro";
import ProjectCard from "./ProjectCard.astro";
import projects from "../../projects.json";
---

<Section title="Otros proyectos" addons="mt-32">
  <div
    class="grid auto-rows-min sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-7 mb-10"
  >
    {
      projects.map((project) => (
        <div class="hover:scale-[1.03] transition-all">
          <ProjectCard
            title={project.title}
            img={project.img}
            description={project.description}
            technologies={project.technologies}
            github={project.github}
            link={project.link}
          />
        </div>
      ))
    }
  </div>
</Section>
