---
import Section from "../Section.astro";
import ProjectCard from "./ProjectCard.astro";
import projects from "../../projects.json"
---

<Section title="Projects">
    <div
        class="relative grid  auto-rows-min sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 mb-10
            before:absolute before:-z-10 before:top-10 before:w-screen before:h-full before:-right-5
            after:absolute after:-z-10 after:top-10 after:w-screen after:h-full after:-right-5"
    >
        {
            projects.map((project) => (
                <ProjectCard
                    title={project.title}
                    img={project.img}
                    description={project.description}
                    technologies={project.technologies}
                    github={project.github}
                    link={project.link}
                />
            ))
        }
    </div>
</Section>

<style>
    div::before {
        background: radial-gradient(
            circle at 90%,
            #000,
            #7242f5 50%,
            #f542aa 75%,
            #000 80%
        );
        -webkit-mask-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0) 0%,
            rgba(0, 0, 0, 1) 30%,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 1) 70%,
            rgba(255, 255, 255, 0) 100%
        );
    }
    div::after {
        background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0) 0%,
            rgb(0, 0, 0) 100%
        );
    }
</style>
