---
import externalLinkSvg from "../../icons/external_link.svg";
import gitHubSvg from "../../icons/github.svg";
import Tech from "./Tech.astro";
import { Image } from 'astro:assets';
const { title, img, description, link, github, technologies } = Astro.props;
---

<article
    class="bg-gray-900 h-min w-80 shadow-2xl border-gray-600 border-[1px] ml-5 mr-5 mt-10"
>
    <img src={img} alt={title} class="h-1/2 w-full object-cover" />
    <div class="p-4 text-left">
        <h3 class="text-3xl">{title}</h3>
        <p>{description}</p>
    </div>
    <div class="flex flex-wrap justify-center">
        {technologies.map((tech) => <Tech tech={tech} />)}
    </div>
    <div class="flex justify-between m-4">
        <a href={github}>
            <Image src={gitHubSvg} alt="ícono de github." />
        </a>
        <a href={link}>
            <Image src={externalLinkSvg} alt="ícono de github." />
        </a>
    </div>
</article>
