---
import externalLinkSvg from "../../icons/external_link.svg";
import gitHubSvg from "../../icons/github.svg";
import Tech from "./Tech.astro";
import { Image } from "astro:assets";
const { title, img, description, link, github, technologies } = Astro.props;
---
<article
    class="rounded-lg h-full relative bg-slate-900/20 border-gray-800 border backdrop-blur-xl flex flex-col justify-between overflow-ellipsis w-full shadow-[0_0_10px_0_rgba(0,0,0,0.5)] group transition-all"
>
    <a href={link} class="h-full">
        <Image
            width={350}
            height={200}
            format="avif"
            src={img}
            alt={title}
            class="h-48 w-full object-cover rounded-t-lg animate-fade-up  "
        />
        <header class="p-4 text-left">
            <h3 class="text-2xl font-semibold">{title}</h3>
            <p class="text-gray-400 font-normal py-2">{description}</p>
        </header>
    </a>
    {
        github && (
            <a
                class="absolute top-0 right-0 m-2 hover:scale-110 transition-all bg-gradient-radial"
                href={github}
            >
                <Image src={gitHubSvg} width="40" format="avif" alt="ícono de github." />
            </a>
        )
    }
</article>