---
import Section from "../Section.astro";
import MainProyectCard from "./MainPoyectCard.astro";

const projects = [
  {
    title: "🎉 Zalee",
    description:
      "La aplicación para salir de fiesta, obtener beneficios exclusivos en los mejores eventos, bares y discotecas de la ciudad.",
    url: "https://zaleeapp.com",
    role: "CPO & Co-Founder",
    social: {
      linkedin: "https://www.linkedin.com/in/zalee",
      twitter: "https://x.com/zalee",
    },
    gallery: ["/images/zalee.png", "/images/products.png", "/images/events.jpg", "/images/discos.jpg"],
  },
  {
    title: "🤖 Arkania",
    description:
      "Arkania es una inteligencia artificial que automatiza un 90% de las conversaciones por chat de tu negocio.",
    image: "/images/arkania.webp",
    url: "https://arkania.com",
    role: "Co-Founder",
    social: {
      linkedin: "https://www.linkedin.com/in/arkania", 
      twitter: "https://x.com/arkania",
    },
  },
  {
    title: "📱 Contenido",
    description:
      "Creador de contenido es una plataforma de comercio electrónico que permite a los usuarios comprar y vender productos de manera sencilla y segura.",
    image: "/favicon.svg",
    url: "https://marca-personal.com",
    role: "",
  },
  {
    title: "💼 Freelancer", 
    description:
      "Freelancer es una plataforma de comercio electrónico que permite a los usuarios comprar y vender productos de manera sencilla y segura.",
    image: "/favicon.svg",
    url: "https://marca-personal.com",
    role: "",
  },
];
---
<Section
  title="Proyectos principales"
  description="Mi forma de contribuir al mundo"
>
  <div>
    <ul
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 items-start text-sm font-medium text-gray-400 mb-8"
    >
      {
        projects.map((project, i) => (
          <li class="flex-grow w-full">
            <a
              id={`project-${i}`}
              href={project.url}
              class={`inline-flex justify-center text-center text-lg font-semibold items-center px-4 py-3 text-white ${i === 0 ? 'bg-blue-600' : 'bg-gray-900'}   w-full transition-all duration-300 hover:bg-blue-600`}
              aria-current="page"
              onclick={`
                event.preventDefault();
                const projectCards = document.querySelectorAll('[id^="project-card-"]');
                projectCards.forEach(card => {
                  card.style.display = 'none';
                  card.style.opacity = '0';
                });
                const selectedCard = document.getElementById('project-card-${i}');
                selectedCard.style.display = 'block';
                setTimeout(() => {
                  selectedCard.style.opacity = '1';
                }, 50);
                
                const projectTabs = document.querySelectorAll('[id^="project-"]');
                projectTabs.forEach(tab => {
                  tab.classList.remove('active');
                  tab.classList.remove('bg-blue-600');
                  tab.classList.add('bg-gray-900');
                });
                this.classList.add('active');
                this.classList.remove('bg-gray-900');
                this.classList.add('bg-blue-600');
              `}
            >
              {project.title}
            </a>
          </li>
        ))
      }
    </ul>

    <div>
      {projects.map((project, i) => (
        <div 
          id={`project-card-${i}`} 
          style={`display: ${i === 0 ? 'block' : 'none'}; opacity: ${i === 0 ? '1' : '0'};`}
          class="transition-all duration-300  "
        >
          <MainProyectCard {...project} />
        </div>
      ))}
    </div>
  </div>
</Section>

