---
import Icon from "astro-icon";
import Section from "../Section.astro";
import ZaleeProjectCard from "./ZaleeProjectCard.astro";
import VenyaPojectCard from "./VenyaPojectCard.astro";
import Galery from "./Galery.astro";

const projects = [
  {
    title: "Venya",
    icon: "ph:robot-bold",
    description:
      "Venya es una inteligencia artificial que automatiza un 90% de las conversaciones por chat de tu negocio.",
    image: "/images/arkania.webp",
    url: "https://venyaai.vercel.app",
    role: "Co-Founder",
    social: {
      linkedin: "https://www.linkedin.com/in/venya",
      twitter: "https://x.com/venya",
    },
    gallery: [
      "/images/projects/venya/venya.png",
      "/images/projects/venya/landing.png",
      "/images/projects/venya/integraciones.png",
    ],
  },
  {
    title: "Zalee",
    icon: "mdi:party-popper",
    description:
      "Plataforma impulsada con IA para la gestión de eventos y fiestas, con recomendaciones personalizadas y beneficios exclusivos.",
    url: "https://zaleeapp.com",
    role: "CPO & Co-Founder",
    social: {
      linkedin: "https://co.linkedin.com/company/zaleeapp",
      instagram: "https://www.instagram.com/zaleeapp",
      facebook: "https://www.facebook.com/zaleeapp",
    },
    gallery: [
      "/images/projects/zalee/event.png",
      "/images/projects/zalee/disco.png",
      "/images/projects/zalee/event.png",
    ],
  },
];
---

<div class="mt-32">
  <Section
    title="Proyectos principales"
    description="Mi forma de contribuir al mundo"
  >
    <div>
      <div
        class="flex flex-wrap gap-4 text-sm font-medium text-gray-400 justify-center"
      >
        {
          projects.map((project, i) => (
            <div
              class={` hover:bg-primary hover:scale-[1.03] transition-all rounded-full ${i === 1 ? "bg-gradient-to-r from-blue-600 to-teal-400" : "bg-gradient-to-r from-primary to-purple-600"}`}
            >
              <div class=" m-[3px]">
                <div
                  id={`project-${i}`}
                  class="transition-all button cursor-pointer bg-gradient-to-r from-black/[0.45] via-black/30 to-black/[0.45] rounded-full inline-flex justify-center text-center text-sm sm:text-base font-semibold items-center gap-1 px-6 py-1 text-white w-full "
                  aria-current="page"
                  onclick={`
                    event.preventDefault();
                    const projectCards = document.querySelectorAll('[id^="project-card-"]');
                    projectCards.forEach(card => {
                      card.style.display = 'none';
                      card.style.opacity = '0';
                    });
                    const selectedCard = document.getElementById('project-card-${i}');
                    selectedCard.style.display = 'block';
                    setTimeout(() => {
                      selectedCard.style.opacity = '1';
                    }, 50);
                    
                    const projectTabs = document.querySelectorAll('[id^="project-"]');
                    projectTabs.forEach(tab => {
                      tab.classList.remove('active');
                      tab.classList.add('bg-gradient-to-r')
                    });
                    this.classList.add('active');
                    this.classList.remove('bg-gradient-to-r');

                    const backgroundEllipse = document.querySelector('.background-ellipse');
                    if (backgroundEllipse) {
                      backgroundEllipse.classList.remove('zalee-div', 'venya-div');
                      const newClass = '${project.title.toLowerCase()}-div';
                      backgroundEllipse.classList.add(newClass);
                      backgroundEllipse.style.transition = 'all 0.5s ease-in-out';
                    }
                    
                    const otherGalleries = document.querySelectorAll('[id^="project-gallery-"]');
                    otherGalleries.forEach(gallery => {
                      gallery.classList.add('hidden');
                      gallery.classList.remove('block');
                    });

                    const currentGallery = document.getElementById('project-gallery-${i}');
                    currentGallery.classList.remove('hidden');
                    currentGallery.classList.add('block');
                  `}
                >
                  <div class="flex items-center gap-6">
                    <Icon name={project.icon} class="w-6 h-6" />
                    <span class="text-white text-sm sm:text-lg font-bold">
                      {project.title}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </Section>
  <Section addons="relative">
    <div class={`background-ellipse -z-10 venya-div`}></div>
    <div>
      {
        projects.map((project, i) => (
          <div
            id={`project-card-${i}`}
            style={`display: ${i === 0 ? "block" : "none"}; opacity: ${i === 0 ? "1" : "0"};`}
            class="transition-all duration-300  "
          >
            {project.title === "Zalee" && <ZaleeProjectCard {...project} />}
            {project.title === "Venya" && <VenyaPojectCard {...project} />}
          </div>
        ))
      }
    </div>
  </Section>
  <Section>
    {
      projects.map((project, i) => (
        <div
          id={`project-gallery-${i}`}
          class="hidden transition-all duration-300"
        >
          <Galery images={project.gallery} />
        </div>
      ))
    }
  </Section>
</div>
<style>
  .background-ellipse {
    position: absolute;
    top: 50%;
    left: 60%;
    width: 300%;
    height: 300%;
    backdrop-filter: blur(4px);
    transform: translate(-50%, -50%) rotate(-20deg);
  }
  .zalee-div {
    background: radial-gradient(
      ellipse at center,
      rgba(37, 99, 235, 0.3) 0%,
      transparent 70%
    );
  }
  .venya-div {
    background: radial-gradient(
      ellipse at center,
      rgba(109, 40, 217, 0.3) 0%,
      transparent 70%
    );
  }
</style>
<script>
  const currentGallery = document.getElementById("project-gallery-0");
  currentGallery.classList.remove("hidden");
  currentGallery.classList.add("block");

  const currentButton = document.getElementById("project-0");
  currentButton.classList.add("active");
  currentButton.classList.remove("bg-gradient-to-r");
</script>
