---
import gitHubSvg from "../../icons/github.svg";
import linkedInSvg from "../../icons/linkedin.svg";
import xSvg from "../../icons/x.svg";
import instagramSvg from "../../icons/instagram.svg";
import { Image } from "astro:assets";
import { instagramAccount, linkedInAccount, twitterAccount, gitHubAccount } from "../../constants";
---

<footer class="bg-slate-900/80 border-y-white border-t-2 px-6 w-full relative bottom-0
                before:absolute before:w-full before:h-full before:-z-10">
    <h3 class="mb-4 text-xl mt-2 md:text-2xl/[1.1] lg:text-3xl/[1.1]">
        Reach me
    </h3>
    <div class="flex justify-center pb-2">
        <a href={instagramAccount} target="_blank">
            <Image src={instagramSvg} format="avif" alt="ícono de instagram." />
        </a>
        <a href={gitHubAccount} target="_blank">
            <Image src={gitHubSvg} format="avif" alt="ícono de github." />
        </a>
        <a href={linkedInAccount} target="_blank">
            <Image src={linkedInSvg} format="avif" alt="ícono de linkedin." />
        </a>
        <a href={twitterAccount} target="_blank">
            <Image src={xSvg}  alt="ícono de x/twitter." format="avif"/>
        </a>
    </div>
    <p class="active:bg-black">lozanojohan321@gmail.com</p>
    <p class="mt-5">Made with ❤️ using Astro🚀 and Tailwind💨</p>
    <p>©2023 johanlozano.me - All rights reserved and blablabla</p>
</footer>

<style>
    footer::before {
        background: linear-gradient(45deg, rgb(144, 40, 255), aqua);
        transform: translate(-50%, 0);
        -webkit-mask-image: linear-gradient(
            to right,
            rgb(255, 255, 255) 0%,
            rgba(0, 0, 0, 0.1) 30%,
            rgba(0, 0, 0, 0.1) 50%,
            rgba(0, 0, 0, 0.1) 70%,
            rgb(255, 255, 255) 100%
        );
    }
</style>
