---
import Icon from "astro-icon";
import Footer from "../components/footer/Footer.astro";
import Navbar from "../components/nav/Navbar.astro";
const { title, description, image, addons } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    {image && <meta property="og:image" content={image} />}
    {image && <meta name="twitter:image" content={image} />}
    <meta property="og:title" content={title} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@JohanLo57983210" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />

    <title>{title}</title>
    <link href="https://fonts.cdnfonts.com/css/nexa-bold" rel="stylesheet" />
    <style>
      @import url("https://fonts.cdnfonts.com/css/nexa-bold");
    </style>

    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css"
      rel="stylesheet"
    />
  </head>
  <body
    class="flex flex-col text-white font-mono h-full text-center overflow-x-hidden bg-gray-950"
  >
    <Navbar />
    <div class=`flex-grow overflow-x-hidden ${addons}`>
      <slot />
    </div>
    <Footer />
    <script
      src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"
    ></script>
  </body>
</html>
<style is:global>
  h1,
  h2,
  h2 {
    font-family: "Nexa", sans-serif;
  }

  body {
    overflow-x: hidden;
  }
  /* Estilos para el scrollbar */
  div::-webkit-scrollbar {
    height: 16px; /* Altura del scrollbar horizontal */
  }

  div::-webkit-scrollbar-track {
    background: #1e1e1e; /* Color del fondo del track */
    border-radius: 4px;
  }

  div::-webkit-scrollbar-thumb {
    background: #4a4a4a; /* Color del thumb (la parte que se mueve) */
    border-radius: 4px;
  }

  div::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color al hover */
  }
</style>
