---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
import { SubscribeForm } from "../components/posts/SubscribeForm.jsx";
import MailchimpSubscribeForm from "../components/posts/MailchimpSubscribeForm.astro";
import {ViewsCounter} from '../components/blog_section/ViewsCounter.jsx'
---

<Layout
    addons="font-nexa font-normal container h-full"
    title={frontmatter.title}
    description={frontmatter.description}
    image={frontmatter.image.url}
>
    <article
        class="a w-screen h-full prose-headings:font-extrabold prose-a:text-blue-400 prose-img:w-full prose-ul:list-disc prose-ul:m-auto relative
        prose-blockquote:p-4 prose-blockquote:my-4 prose-blockquote:border-l-4 prose-blockquote:border-gray-300 prose-blockquote:bg-gray-50 prose-blockquote:dark:border-gray-500 prose-blockquote:dark:bg-gray-800
        before:absolute before:-z-10 before:w-full before:h-full before:top-[0px] before:right-0"
    >
        <div class="max-w-3xl px-5 mx-auto bg-[#000810]">
            <header class="text-left pt-16">
                <h1 class="text-4xl lg:text-5xl mb-3">{frontmatter.title}</h1>
                <div class="flex justify-between">
                    <p>{frontmatter.pubDate.slice(0, 10)}</p>
                    <!-- <ViewsCounter page={frontmatter.title} client:load/> -->
                </div>
                <p>{frontmatter.description}</p>
                <img
                    class="py-10 object-cover"
                    src={frontmatter.image.url}
                    width="300"
                    alt={frontmatter.image.alt}
                />
            </header>
            <main
                class="pt-5 text-left text-xl [&>h2]:text-3xl [&>h2]:py-5 [&>h3]:text-2xl [&>h3]:py-3
                [&>ol]:list-decimal [&>ul]:list-disc [&>ul>li]:ml-7 [&>ol>li]:ml-7 [&>ul>li>ul>li]:ml-9 [&>*>li]:mb-3 [&>ul>li>ul>li]:my-[12px] [&>p]:py-[15px] [&>p]:text-white/80"
            >
                <slot />
            </main>
            <h2 class="text-3xl mt-24 mb-3">¿Fue útil? Suscríbete a mi blog</h2>
            <MailchimpSubscribeForm  />
            <div class="giscus mt-10 pb-6"></div>
        </div>
    </article>
</Layout>



<style>
    blockquote {
        border-left: 5px solid #333; /* Left border color and width */
        padding: 15px; /* Padding around the text */
        margin: 10px 0; /* Margin to create space around the blockquote */
        font-style: italic; /* Italics for the quoted text */
    }
    article::before {
        background: linear-gradient(
                to right,
                rgba(0, 0, 0, 0.95) 10%,
                rgba(0, 41, 108, 0.423) 50%,
                rgba(0, 0, 0, 1) 90%
            ),
            linear-gradient(to left, #9412da, #00488c);
    }
</style>
<script
    src="https://giscus.app/client.js"
    data-repo="LozanoJohan/astro-personal-website"
    data-repo-id="R_kgDOKVQi5A"
    data-category="Announcements"
    data-category-id="DIC_kwDOKVQi5M4CaK-h"
    data-mapping="title"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang="es"
    data-loading="lazy"
    crossorigin="anonymous"
    async></script>
