---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
import { SubscribeForm } from "../components/posts/SubscribeForm.jsx";
---

<Layout
    addons="font-nexa container h-full"
    title={frontmatter.title}
    description={frontmatter.description}
>
    <article
        class="w-screen h-full prose-headings:font-extrabold prose-a:text-blue-400 prose-img:w-full prose-ul:list-disc prose-ul:m-auto bg-gray-950
        prose-blockquote:p-4 prose-blockquote:my-4 prose-blockquote:border-l-4 prose-blockquote:border-gray-300 prose-blockquote:bg-gray-50 prose-blockquote:dark:border-gray-500 prose-blockquote:dark:bg-gray-800	"
    >
        <div class="max-w-3xl px-5 mx-auto bg-slate-900">
            <header class="text-left pt-16">
                <h1 class="text-5xl mb-3">{frontmatter.title}</h1>
                <p>{frontmatter.pubDate.slice(0, 10)}</p>
                <p>{frontmatter.description}</p>
                <img
                    class="py-10 object-cover"
                    src={frontmatter.image.url}
                    width="300"
                    alt={frontmatter.image.alt}
                />
            </header>
            <main
                class="pt-5 text-left text-xl [&>h2]:text-3xl [&>h2]:py-5 [&>h3]:text-2xl [&>h3]:py-5
                [&>ol]:list-decimal [&>ul]:list-disc [&>ul>li]:ml-7 [&>ul>li>ul>li]:ml-9 [&>*>li]:mb-5 [&>ul>li>ul>li]:my-[12px] [&>p]:pb-5"
            >
                <slot />
            </main>
            <button
                class="bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 mx-auto my-2 w-[300px]"
            >
                <a
                    href="https://api.WhatsApp.com/send?phone=573142968931&text=ola%2C%20le%C3%AD%20tu%20post%20y%20me%20pareci%C3%B3%20incre%C3%ADble%2C%20pero..."
                >
                    Dar feedback
                </a>
            </button>
            <SubscribeForm client:visible />
        </div>
    </article>
</Layout>

<style>

    blockquote {
        border-left: 5px solid #333; /* Left border color and width */
        padding: 15px; /* Padding around the text */
        margin: 10px 0; /* Margin to create space around the blockquote */
        font-style: italic; /* Italics for the quoted text */
    }
</style>
